<%- include('../partials/head') %> <%- include('../partials/header') %>

<section class="profile vh-75 d-flex flex-column align-items-center">
	<div class="container py-5 h-100">
		<div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col col-lg-6 mb-4 mb-lg-0">
				<div class="card mb-3" style="border-radius: 0.5rem">
					<div class="row g-0 align-items-center">
						<div class="col-md-4 gradient-custom text-center" style="border-top-left-radius: 0.5rem; border-bottom-left-radius: 0.5rem">
							<img src="data:image/jpeg;base64,<%= profileImage %>" alt="Avatar" class="img-fluid my-3" style="width: 80px; height: 80px; object-fit: cover; border-radius: 50%" />
							<h5><%= user.firstname %></h5>
						</div>
						<div class="col-md-8">
							<div class="card-body p-4">
								<h6>Information</h6>
								<hr class="mt-0 mb-4" />
								<div class="row pt-1">
									<div class="col-6 mb-3">
										<h6>Name</h6>
										<p class="text-muted"><%= user.firstname %> <%= user.lastname %></p>
									</div>
									<div class="col-6 mb-3">
										<h6>Email</h6>
										<p class="text-muted"><%= user.email %></p>
									</div>
								</div>
								<hr class="mt-0 mb-4" />
								<div class="row pt-1">
									<div class="col-6 mb-3">
										<a class="btn btn-primary" href="/update" role="button">Edit Profile</a>
									</div>
									<div class="col-6 mb-3">
										<form class="d-inline" action="/user/delete" method="POST" onsubmit="return confirm('Are you sure you want to delete your account? This cannot be undone.')">
											<input type="hidden" name="id" value="<%= user.id %>" />
											<button class="btn btn-outline-danger" type="submit">Delete</button>
										</form>
									</div>
								</div>
								<div class="d-flex justify-content-start">
									<a href="#!"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
									<a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
									<a href="#!"><i class="fab fa-instagram fa-lg"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="d-flex flex-column flex-md-row align-items-center mb-3">
			<h5 class="mr-auto"></h5>
			<nav class="my-md-0 mr-md-3">
				<a class="btn btn-primary" href="/add">Add Article</a>
			</nav>
		</div>
		<div class="row">
			<!-- Show all the articles which are submitted by the current user -->
			<% articles.forEach(article => { %>
			<div class="col-md-4 mb-4">
				<div class="card mh-420">
					<a style="height: 200px; overflow: hidden" href="/article/<%= article.id %>">
						<img src="data:image/jpeg;base64,<%= article.image.data.toString('base64') %>" class="card-img-top" alt="Article Image" style="object-fit: cover; height: 100%; width: 100%" />
					</a>

					<a href="/article/<%= article.id %>" class="text-decoration-none">
						<div class="card-body">
							<h5 class="card-title mb-3 text-black"><%= article.headline %></h5>
							<h6 class="card-subtitle mb-4 text-muted"><%= article.subheadline %></h6>
							<a href="/article/<%= article.id %>" class="btn btn-primary read-more-btn">Read more</a>
						</div>
					</a>
				</div>
			</div>
			<% }); %>
		</div>
	</div>
</section>

<%- include('../partials/foot') %> <%- include('../partials/footer') %>
